@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
/* font-family: 'Maven Pro', sans-serif; */

h1
{
    font-family: 'Maven Pro', sans-serif;
    font-size: 48px;
}

h2
{
    font-family: 'Maven Pro', sans-serif;
    font-size: 32px;
    padding-left: 32px;
}

p
{
    font-family: 'Maven Pro', sans-serif;
    font-size: 24px;
}

.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

.navright
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blog
{
    display: flex;
    flex-direction: row;
    margin: 5%;
}

.tags
{
    display: flex;
    flex-direction: column;
}

.button
{
    min-width: 20%;
	border-radius: 5px;
	color: #f6f7cd;
	background-color: #264e2c;
    transition: all 0.75s ease;
    font-family: 'Maven Pro', sans-serif;
    margin: 5px;
    padding: 5px;
}

.about
{
    display: flex;
    flex-direction: row;
    margin: 5%;
    align-items: center;
}

#round
{
    border-radius: 50%;
    max-width: 400px;
    margin-right: 32px;
}

#icon
{
    max-width: 40px;
    border: 4px black solid;
}

a:link
{
    text-decoration: none;
    color: black;
}

a:visited
{
    text-decoration: none;
    color: black;
}

a:hover
{
    color: #17BE94;
    transition: all 0.5s ease;
}

#icon:hover
{
    background-color: #17BE94;
    transition: all 0.5s ease;
}