@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
/* font-family: 'Maven Pro', sans-serif; */

h1
{
    font-family: 'Maven Pro', sans-serif;
    font-size: 48px;
}

h2
{
    font-family: 'Maven Pro', sans-serif;
    font-size: 32px;
    padding-left: 32px;
}

p
{
    font-family: 'Maven Pro', sans-serif;
    font-size: 24px;
}

p2
{
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
}

p3
{
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
}

.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

.navright
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blog
{
    display: flex;
    flex-direction: row;
    margin: 5%;
    align-items: center;
}

.display
{
    min-width: 80%;
    max-width: 80%;
}

ul 
{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: left;
    margin-top: 2%;
    margin-right: 2%;
    text-decoration: none;
}

li 
{
	list-style: none;
	padding: 10px 10px;
    font-family: 'Maven Pro', sans-serif;
	border: 2px solid black;
	border-radius: 5px;
	margin-bottom: 10px;
    min-width: 100%;
    word-wrap: break-word;
    text-decoration: none;
}

.preview
{
    display: flex;
    flex-direction: row;
}

.preview-text
{
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}

.tags
{
    display: flex;
    flex-direction: column;
    text-align: right;
    min-width: 10%;
    max-width: 10%;
}

.button
{
    min-width: 20%;
    border-radius: 5px;
    font-family: 'Maven Pro', sans-serif;
    margin: 5px;
    padding: 5px;
}

.button:hover
{
    background-color: #17BE94;
    transition: all 0.5s ease;
}

.title
{
    text-align: center;
}

.article
{
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 12%;
    padding-right: 12%;
}

.about
{
    display: flex;
    flex-direction: row;
    margin: 5%;
    align-items: center;
}

#round
{
    border-radius: 50%;
    max-width: 400px;
    margin-right: 32px;
}

#icon
{
    max-width: 40px;
    border: 4px black solid;
}

a:link
{
    text-decoration: none;
    color: black;
}

a:visited
{
    text-decoration: none;
    color: black;
}

a:hover
{
    color: #17BE94;
    transition: all 0.5s ease;
}

#icon:hover
{
    background-color: #17BE94;
    transition: all 0.5s ease;
}
